<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0" />
</head>

<body style="margin: 0; padding: 35px 5px 20px 5px;background-color: #ebebeb; font-size:12px, border-radius: 5px;">
    <table align="center"
           border="0"
           cellpadding="0"
           cellspacing="0"
           width="600">
        <tr>
            <td align="center"
                style="padding: 10px 0 0px 0; background-color: white">
                <img src="{{logo}}" style="max-height: 55px; max-width: 220px;" />
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff" style="padding: 5px 2vw 25px 2vw;">
                <div style="text-align: center">
                    <h2>Bienvenido {{name}}</h2>
                </div>

                <p style="text-align:center;">
                    El administrador de la compañía {{company}} ha creado una cuenta para ti en MizoERP Cloud.
                </p>
                <br />

                <p style="text-align:center;">
                    Es necesario <b>cambiar la contraseña</b> pulsando el siguiente botón:
                </p>
                <br />

                <div style="text-align:center;margin-bottom: 25px;">
                    <a class="btn-access-room"
                       lang="x-btn-access-room"
                       href="{{employeeRegisterLink}}"
                       style="border-radius: 4px;background: #364D6F;color: #fff;display: block;font-weight: 600;font-size: 14px;line-height: 1.25em;margin: 0 auto;padding: 10px 18px;text-decoration: none;width: 180px;text-align: center;cursor: pointer;">
                        Cambiar contraseña
                    </a>
                </div>
                <div style="text-align: center">
                    <p style='font-size:10px;color:grey'>
                        <b>
                            <i>Si no puede hacer click en el enlace, cópielo y péguelo en la barra de su navegador web</i>
                        </b>
                    </p>
                    <span style="font-size:10px; display:block;">
                        {{employeeRegisterLink}}
                    </span>
                </div>

                <div style="clear:both;"></div>
                <br />
                <p style="text-align:center;">
                    Muchas gracias por utilizar MizoERP Cloud.
                </p>
            </td>
        </tr>
        {{!-- <tr>
            <td bgcolor="#61abb7"
                style="padding: 5px">
                <table border="0"
                       cellpadding="0"
                       cellspacing="0"
                       width="100%">
                    <tr>
                        <td style="color: #fff; font-family: Arial, sans-serif; font-size: 10px;text-align: center; font-weight: bold"
                            width="75%">
                            Online meetings with legal value.
                            <br />
                        </td>
                </table>
            </td>
        </tr> --}}
        <tr>
            <td>
                <p style="text-align:justify;font-size:10px;margin-top: 20px; color:grey">
                    El acceso al mensaje no implica en modo alguno su aceptación respecto al contenido de la
                    comunicación sino tan sólo la aceptación
                    del cauce por el que se le envía la comunicación. Este servicio es gratuito para usted, y puede
                    contestar
                    a este correo desde nuestra plataforma, también de forma totalmente gratuita. La información
                    contenida
                    tanto en este e mail como en los documentos adjuntos, es información confidencial y privilegiada
                    para uso exclusivo de la persona o personas a las que va dirigido. No está permitido el acceso a
                    este mensaje a cualquier otra persona distinta de los indicados. Si no es el destinatario o ha
                    recibido
                    este mensaje por error, cualquier duplicación, reproducción, distribución, así como cualquier uso
                    de la información contenida o cualquiera otra acción tomada en relación con el mismo, está
                    prohibida
                    y puede ser ilegal. No se autoriza su utilización con fines comerciales o para su incorporación a
                    ficheros automatizados de las direcciones del emisor o del destinatario. En consecuencia, si recibe
                    este correo sin ser el destinatario del mismo, le rogamos proceda a su eliminación y lo ponga en
                    conocimiento del emisor. Para consultas relacionadas con la comunicación recibida, por favor,
                    contacta
                    con el remitente de este mensaje
                </p>
            </td>
        </tr>
    </table>
</body>

</html>